.senator-summary {
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  border-radius: 2px;
  border: solid 2px var(--border-color-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-color-light);
}

.senator-summary>.title {
  padding: 2px 6px;
  background-color: var(--bg-color);
}

.senator-summary h1 {
  font-size: 20px;
  font-family: inherit;
  font-weight: 400;
  text-transform: capitalize;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.senator-summary>.content {
  padding: 0 6px;
}

.senator-summary p {
  text-transform: capitalize;
  margin-block-start: 4px;
  margin-block-end: 4px;
}

.senator-summary p>img {
  vertical-align: baseline;
  height: 26px;
  width: 26px;
  margin-top: -4px;
  margin-bottom: -6px;
  margin-left: 2px;
  margin-right: 2px;
}