dialog.senator {
  box-sizing: border-box;
  z-index: 50;
  margin: 0;
  border-radius: 2px;
  border: solid 2px var(--primary-color-muted);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-color-muted);

  /* Override default dialog attributes */
  inset-inline-start: auto;
  inset-inline-end: auto;
  margin: 0px;
  padding: 0px;
  color: inherit;
}

dialog.senator p {
  padding: 5px 10px;
  margin: 0;
}

dialog.senator>p.title {
  padding: 5px 10px;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

dialog.senator p>img {
  vertical-align: baseline;
  height: 26px;
  width: 26px;
  margin-top: -4px;
  margin-bottom: -6px;
  margin-left: 2px;
  margin-right: 2px;
}

dialog.senator>.portrait {
  display: flex;
  justify-content: center;
  padding: 4px;
}