figure.senator {
  width: 80px;
  height: 80px;

  /* Override default `figure` margins */
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
dialog.senator figure.senator {
  width: 76px;
  height: 76px;
}

figure.senator>a {
  display: block;
  position: relative;
  width: 76px;
  height: 76px;
  overflow: hidden;
  border: solid 2px var(--border-color);
}
figure.senator>div {
  position: relative;
  width: 76px;
  height: 76px;
  overflow: hidden;
  border: none;
}

figure.senator>a:focus {
  margin: -1px;
  border: solid 3px var(--border-color);
  outline: solid 3px var(--highlight-color);
  outline-offset: 0;
}
dialog.senator figure.senator>a:focus {
  margin: 0;
  outline: none;
}

figure.senator .picture {
  position: absolute;
  z-index: 2;
}

figure.senator .major-office-icon {
  position: absolute;
  z-index: 3;
  top: 46px;
  left: -1px;
  height: 30px;
  width: 30px;
}

figure.senator .faction-leader {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
}