.senator-portrait figure {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: solid 2px var(--primary-color);

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.senator-portrait figure div:first-child {
  /* border and background css props are dynamically assigned to this element using React */
  position: relative;
  box-sizing: border-box;
  width: 76px;
  height: 76px;
}

.senator-portrait figure img.picture {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 72px;
  height: 72px;
}

.senator-portrait figure img.faction-leader {
  position: absolute;
  left: 1px;
  top: 1px;
  box-sizing: border-box;
  width: 70px;
}

.senator-portrait figure img.major-office-icon {
  position: absolute;
  left: -2px;
  top: 44px;
  z-index: 2;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
}
