.senator-portrait_container .senator-summary {
    position: absolute;
    z-index: 100;
    height: 400px;
    width: 300px;
    top: 0;
    left: 80px;

    border: 1px solid black;
    background-color: antiquewhite;
}

.senator-summary {
    padding: 5px;
}