{
  "importOrder": ["^react", "^@?\\w", "^(@|@src)(/.*|$)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": false,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all"
}
