Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["api-roronline-com-ssl"]
          roleName: "aws-elasticbeanstalk-service-role"

container_commands:
  01_download_ssl_certificates:
    command: |
      aws s3 cp s3://api-roronline-com-ssl/api_roronline_com.crt /etc/pki/tls/certs/api_roronline_com.crt
      aws s3 cp s3://api-roronline-com-ssl/certificate.key /etc/pki/tls/private/certificate.key
      aws s3 cp s3://api-roronline-com-ssl/ca_bundle.crt /etc/pki/tls/certs/ca_bundle.crt
