files:
  "/tmp/acme-challenge.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /.well-known/acme-challenge/ {
          root /var/app/current;
          try_files $uri =404;
      }

container_commands:
  01_copy_acme_challenge_conf:
    command: "cp /tmp/acme-challenge.conf /etc/nginx/conf.d/"
    leader_only: true
