container_commands:
  01_collectstatic:
    command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"
    leader_only: true
  # 03_superuser:
  #   command: "source $PYTHONPATH/activate && python manage.py createsu"
  #   leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: rorsite.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
