files:
  "/etc/nginx/conf.d/acme-challenge.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /.well-known/acme-challenge/ {
          root /var/app/current;
          try_files $uri =404;
      }
commands:
  create_test_file_nginx:
    command: "touch /tmp/test_file_nginx.txt"
