.senatorlist {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 500px;
  height: 600px;
  background-color: gainsboro;
}

.senatorlist_header {
  background-color: pink;
  height: 60px;
}

.senatorlist_scrollarea {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.senatorlist_senator {
  display: flex;
  flex-direction: row;
  align-items: center;
  Gap: 4px;
  padding: 4px;
  background-color: white;
}

.senatorlist_senator_office {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 38px;
  height: 66px; 
  background-color: whitesmoke;
}

.senatorlist_senator_office>div:first-child {
  line-height: 30px;
  width: 30px;
  margin: 4px;
  text-align: center;
}

.senatorlist_senator_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 66px; 
  background-color: whitesmoke;
}

.senatorlist_senator_banner>div:first-child {
  height: 26px;
  width: 26px;
  border: solid 2px black;
  margin: 4px;
}

.senatorlist_senator_portait {
  width: 60px;
  height: 60px;
  background-color: grey;
}

.senatorlist_senator_mainsection {
  display: flex;
  flex-direction: column;
  width: 245px;
}

.senatorlist_senator_titleandlocation {
  font-size: 16px;
}

.senatorlist_statrow {
  display: flex;
  flex-direction: row;
}

.senatorlist_statrow>div {
  line-height: 26px;
  width: 35px;
  text-align: center;
}

.senatorlist_statrow>div:nth-child(odd) {
  background-color: gainsboro;
}

.senatorlist_statrow>div:nth-child(even) {
  background-color: whitesmoke;
}