.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 40px;
  background-color: var(--border-color);
  color: white;
}

@media (max-width: 767px) {
  .top-bar {
    flex-direction: column;
  }
}

.top-bar h1 {
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.top-bar>div {
  display: flex;
  gap: 10px 40px;
  align-items: center;
}