.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
    column-gap: 20px;
    row-gap: 5px;

    background-color: #66023C;
    color: white;
}

.topbar_title {
    font-size: 20px;
    text-align: center;
}

.topbar_info {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

.topbar_info > div {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.currentuser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.currentuser_name {
    font-size: 15px;
}

a.plainlink {
    color: white;
    text-decoration: none;
}
