.primaryArea {
  gap: 8px;
}

.portraitContainer {
  float: left;
  margin-right: 8px;
}

.textContainer>p:not(:last-child) {
  margin-bottom: 8px;
}

.attributeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 8px
}

.fixedAttributeContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  background-color: var(--background-color);
  border-radius: 3px;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.attributeNameAndValue {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2.3fr 30px;
  align-items: center;
}

.attributeNameAndValue>div:nth-child(2) {
  color: var(--foreground-color-muted);
  font-size: 0.9em;
}

.attributeBar {
  width: 100%;
}

.variableAttributeContainer {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 24px;
  padding: 8px;
  background-color: var(--background-color);
  border-radius: 3px;
}

.variableAttributeContainer>div {
  display: flex;
  justify-content: center;
}

.variableAttributeContainer>div>div {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
