.factionDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.factionIcon {
  margin-right: 8px;
}
