.primaryArea {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.primaryInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attributeContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  background-color: var(--background-color);
  border-radius: 3px;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.attributeNameAndValue {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attributeBar {
  width: 100%;
}
