.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 8px;
}

@media (max-width: 1400px) {
  .list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.listItem {
  display: flex;
}
