.listContainer {
  box-sizing: border-box;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid hsla(0, 0%, 0%, 0.12);
  border-radius: 3px;
  background-color: white;
  margin: 16px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 8px;
}

@media (max-width: 1400px) {
  .list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.listItem {
  display: flex;
}
