.factionListItem {
  flex-grow: 1;
  box-sizing: border-box;
  background-color: var(--background-color-2);
  padding: 8px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attributes {
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  user-select: none;
}

.attribute {
  width: 90px;
  display: grid;
  grid-template-columns: 60px 30px;
  align-items: center;
  justify-items: center;
  background-color: var(--background-color-alt);
  box-shadow: 0px 0px 2px 2px var(--background-color-alt);
}

.attribute.nonSum {
  width: 70px;
  grid-template-columns: 40px 30px;
}

.attributeValue {
  width: 32px;
  text-align: center;
}

.symbols {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2px;
}

.sigma {
  font-family: var(--font-gentium);
  line-height: 1;
  font-size: 32px;
}

.portraits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
