.factionListItem {
  background-color: var(--background-color-2);
  padding: 8px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.factionIcon {
  margin-right: 8px;
}
