.loading {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

/* Override defaults on the play page, including dialogs */

.play p {
  margin: 0
}

.play h2 {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.play h3 {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding-left: 8px;
}
