.progressArea {
  display: grid;
  grid-template-rows: 65% 35%;
  box-sizing: border-box;
  height: calc(100% - 16px);
  padding: 8px;
  gap: 16px;
}

.notificationArea {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notificationList {
  height: 100%;
  overflow-y: auto;
  border: 1px solid var(--divider-line-color);
  border-radius: 3px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scroll-behavior: smooth;
}

.actionArea {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.potentialActionArea {
  height: 100%;
  overflow-y: auto;
  border: 1px solid var(--divider-line-color);
  border-radius: 3px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
