.progressSection {
  box-sizing: border-box;
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px
}

.actionItems {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.actionItems>div {
  display: flex;
  flex-direction: row;
  gap: 8px
}

.animatedBgColor {
  animation: changeBgColor 1.5s ease-in-out infinite alternate;
}

/* Define animation for changeBgColor */
@keyframes changeBgColor {
  from {
    background-color: var(--foreground-color-pop);
  }
  to {
    background-color: var(--foreground-color);
  }
}
