.progressSection {
  box-sizing: border-box;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notificationArea {
  flex-grow: 2;
}

.actionArea {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.actionItems {
  display: flex;
  flex-direction: column;
  gap: 8px
}
