.headers {
  height: 54px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  padding-right: 2px;
}

.headers>div:first-child {
  margin-top: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headers>.groupButton {
  height: 34px;
  min-width: 103px;
  flex-direction: row;
}

.headers>.groupButton>label>span:last-child {
  width: 60px;
  font-size: 13px;
  line-height: 1.3;
}
