.senatorPortrait.selectable {
  cursor: pointer;
  
  /* Remove default button styles */
  border: none;
  padding: 0;
  background-color: transparent;
}

.senatorPortrait figure {
  box-sizing: border-box;
  background-color: var(--foreground-color);
  border-radius: 4px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.senatorPortrait>figure {
  background-color: var(--foreground-color);
}

.senatorPortrait>figure>.bg {
  position: absolute;
}

.imageContainer {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.imageContainer img.picture {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
}

.factionLeaderPattern {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
}
