.detailSection {
  flex-grow: 2;
  padding: 8px;
  border-radius: 3px;
  background-color: var(--background-color-2);
  display: flex;
  flex-direction: column;
  gap: 8px
}

.primaryArea {
  gap: 8px;
}

.primaryArea {
  display: flex;
  flex-direction: row;
}
