.listContainer {
  padding: 8px;
  box-sizing: border-box;
  height: 100%;
  min-width: 420px;
  display: flex;
  flex-direction: column;
}

.list {
  flex-grow: 1;
}

.headers {
  height: 30px;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 2px
}

.headers.radioHeaderMargin {
  box-sizing: border-box;
  padding-left: 42px;
}

.headers>div {
  width: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headers>div:first-child {
  margin-left: 96px;
}

.headers>div>div {
  background-color: yellow;
  width: 16px;
  height: 22px;
}

.loyaltyIcon {
  position: relative;
}

.loyaltyIcon>img{
  position: absolute;
  z-index: 2;
}

.listItem {
  display: flex;
}

.radioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
