.senatorListItem {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: var(--background-color-2);
  padding: 8px;
  border-radius: 3px;
}

.primaryArea {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.skillList {
  margin: 0;
  display: flex;
  flex-direction: row;
}
