.auth_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.auth_area>div:not(.spacer) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 35px;
}

.auth_spacer {
  max-height: 75px;
  height: 100%
}

.auth_box {
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  background-color: #bfe4fd;
}

.auth_title_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  background-color: #92c5e6;
  
}

.auth_title {
  font-size: 30px;
  font-family: Trajan Pro Regular, Times, serif;
  font-weight: 700;
}

.auth_submit {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  font-size: inherit;
  font-family: inherit;
  border: none;
}

.auth_submit_ready {
  background-color: #92c5e6;
}

.auth_submit_ready:hover {
  background-color: #8abbdb;
}

.auth_submit_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #89c1e5;
}

.auth_submit>img {
  height: 20px;
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: none;
}

.auth_field>label {
  display: block;
  margin-bottom: 5px;
}

.auth_field>input {
  display: block;
  width: 300px;
  height: 24px;
  outline: none;

  background-color: white;
  border: solid white;
}

.auth_field>input:hover {
  outline: none;
}

.auth_field>input:focus {
  border: solid gold;
}

.auth_field-error>input {
  border: solid #fff6c9;
  background-color: #fff6c9;
}

.auth_nofeedback {
  display: none;
}

.auth_feedback {
  width: 300px;
  color: #ffe34c;
}

.auth_prompt {
  padding-bottom: 10px;
}
