.autharea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.autharea>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0px 30px;
}

.box {
  display: flex;
  flex-direction: column;

  color: white;
  background-color: #4d7693;
  border-radius: 4px;
}

.title {
  font-size: 30px;
  padding: 15px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  background-color: #355266;
}

.submit {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  font-size: inherit;
  font-family: inherit;

  color: white;
  border: none;
}

.submit-ready {
  background-color: #355266;
}

.submit-ready:hover {
  filter: brightness(85%);
}

.submit-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #355266;
}

.submit>img {
  height: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: none;
}

.field>label {
  display: block;
  width: 200px;
  margin-bottom: 5px;
}

.field>input {
  display: block;
  width: 300px;
  height: 24px;
  font-size: 18px;
  border: solid white;
  outline: none;
}

.field>input:hover {
  outline: none;
}

.field>input:focus {
  background-color: white;
  border: solid gold;
}

.feedback {
  width: 300px;
  font-size: 14px;
  color: #ffe34c;
}

.prompt {
  padding-bottom: 10px;
}
