.auth_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.auth_area>div:not(.spacer) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 35px;
}

.auth_spacer {
  max-height: 75px;
  height: 100%
}

.auth_box {
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  background-color: var(--bg-color-light);
  border: solid 2px var(--border-color-light);
  border-collapse: separate;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.auth_title_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  background-color: var(--bg-color);
}

.auth_title {
  font-size: 30px;
  font-family: Trajan Pro Regular, Times, serif;
  font-weight: 700;
}

.auth_submit {
  width: 140px;
  height: 36px;
  margin-top: 10px;
  align-self: center;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  border: solid 2px var(--border-color);
}

.auth_submit_ready {
  background-color: var(--bg-color);
}

.auth_submit_ready:hover {
  color: black;
  background-color: var(--bg-emphasis-color);
}

.auth_submit_ready:focus {
  border: solid 3px var(--border-color);
  outline: solid 3px var(--highlight-color);
}

.auth_submit_loading {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  background-color: var(--bg-emphasis-color);
  border: solid 3px var(--border-color);
  outline: solid 3px var(--highlight-color);
}

.auth_submit>img {
  height: 20px;
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
  border: none;
}

.auth_field>label {
  display: block;
  margin-bottom: 5px;
}

.auth_field>input {
  align-self: center;
  box-sizing: border-box;
  height: 40px;
  width: 320px;
  background-color: white;

  padding: 8px;
  border: solid 2px var(--border-color);
  outline: none;
}

.auth_field>input:focus {
  padding: 7px;
  border: solid 3px var(--border-color);
  outline: solid 3px var(--highlight-color);
}

.auth_field.error>input {
  position: relative;
  border: solid 2px var(--error-color);
  background-color: #ffdbdb;
}

.auth_field.error>label {
  color: var(--error-color);
}

.auth_feedback {
  box-sizing: border-box;
  width: 320px;
  overflow: hidden;
  background-color: var(--error-color);
  border-radius: 4px;

  transition: background-color 0.5s, color 0.2s 0.3s, height 0.5s, padding 0.5s, margin-bottom 0.5s;

  color: rgba(255, 255, 255, 0);
  height: 0;
  padding: 0 8px;
  margin-bottom: -18px;
}

.auth_feedback.active {
  color: white;
  height: 60px;
  padding: 8px 8px;
  margin-bottom: 0;
}
