.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 2px var(--primary-color);
  background-color: var(--normal-button-color);;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: var(--normal-button-color-active);
}

.button:focus {
  border-width: 3px;
  outline: solid 3px var(--highlight-color);
  outline-offset: 0;
}

.button.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Make the element appear to be in focus */
  background-color: var(--normal-button-color-active);
  border-width: 3px;
  outline: solid 3px var(--highlight-color);
}

.button>img {
  height: 20px;
}

.button.variable-width {
  padding: 0 10px;
}

.button.variable-width:focus {
  padding: 0 9px;
}
