:root {
  --primary-color: #66023C;
  --primary-color-mild: #934e74;
  --primary-color-extra-mild: #a7728f;

  --secondary-color: white;
  --secondary-color-mild: #eaeaea;

  --tertiary-color: #d7c8e4;

  --normal-button-color: #fff8d3;
  --normal-button-color-active: #fff3a2;

  --highlight-color: gold;

  --error-color: #dd4c4c;
}
