:root {
  --primary-color: #66023C;
  --primary-color-muted: #af7a99;

  --secondary-color: white;
  --secondary-color-muted: #eaeaea;

  --tertiary-color: #d7c8e4;

  --normal-button-color: #fff8d3;
  --normal-button-color-active: #fff3a2;

  --highlight-color: gold;

  --error-color: #dd4c4c;
}
