@font-face {
  font-family: 'Trajan Pro Regular';
  src: url("../fonts/Trajan Pro Regular.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Gill Sans Light', Calibri, sans-serif;
  font-size: 18px;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  margin: 10px;
}

h1 {
  font-family: Trajan Pro Regular, Times, serif;
}

h2 {
  font-family: Trajan Pro Regular, Times, serif;
}

h3 {
  font-family: Trajan Pro Regular, Times, serif;
}

a.underlinedlink {
  color: inherit;
}

a.plainlink {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: "Gill Sans Light", Calibri, sans-serif;
  font-size: 18px;
}