.senator-list {
  display: flex;
  flex-direction: column;
  padding: 4px;
  min-width: 569px;
  max-width: 637px;
  height: 600px;
  background-color: gainsboro;
}

.senator-list_header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: pink;
  padding-left: 2px;
}

.senator-list_header>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 44px;
}

.senator-list_header_office {
  width: 42px;
  flex-shrink: 0;
  font-size: 16px;
}

.senator-list_header_banner {
  align-items: center;
  flex-shrink: 0;
  width: 42px;
}

.senator-list_header>.senator-list_stat:nth-child(even) {
  background-color: gainsboro;
}

.senator-list_header>.senator-list_stat:nth-child(odd) {
  background-color: whitesmoke;
}

.senator-list_header_above-portrait {
  width: 71px;
  flex-shrink: 0;
}

.senator-list_header>.senator-list_header_misc {
  margin-left: 9px;
  margin-right: 14px;
  background-color: transparent;
  font-size: 16px;
}

.senator-list_scroll-area {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.senator-list_senator {
  display: flex;
  flex-direction: row;
  align-items: center;
  Gap: 4px;
  padding: 4px;
  background-color: white;
}

.senator-list_senator_office {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 38px;
  height: 66px; 
  background-color: whitesmoke;
}

.senator-list_senator_office>div:first-child {
  line-height: 30px;
  width: 30px;
  margin: 4px;
  text-align: center;
}

.senator-list_senator_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 66px; 
  background-color: whitesmoke;
}

.senator-list_banner {
  height: 26px;
  width: 26px;
  border: solid 2px black;
  margin: 4px;
}

.senator-list_senator_portrait {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: grey;
}

.senator-list_senator_main-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 308px;
  margin: 0 5px;
}

.senator-list_senator_textarea {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.senator-list_senator_textarea>div:first-child {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.senator-list_senator_name-and-type {
  text-align: right;
  font-size: 16px;
}

.senator-list_senator_title-and-location {
  font-size: 16px;
}

.senator-list_stat-row {
  display: flex;
  flex-direction: row;
}

.senator-list_stat-row>div {
  line-height: 26px;
  text-align: center;
}

.senator-list_stat {
  flex-shrink: 0;
  width: 44px;
}

.senator-list_stat-row>div:nth-child(odd) {
  background-color: gainsboro;
}

.senator-list_stat-row>div:nth-child(even) {
  background-color: whitesmoke;
}

.senator-list_misc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.senator-list_misc>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  align-content: center;
  margin: 5px;
}

.senator-list_senator_item {
  height: 30px;
  width: 30px;
  background-color: pink;
  line-height: 30px;
  text-align: center;
}