table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--primary-color-extra-mild);
}

.table-container {
  overflow: auto;
}

td,
th {
  border: 1px solid var(--primary-color-extra-mild);
  text-align: left;
  padding: 8px;
}

th {
  font-weight: 600;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}
