{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  {{ block.super }}
  <li>
    <button type="button" class="button" id="execute-effects-button">Execute effects</a>
  </li>
  <li>
    <button type="button" class="button" id="skip-to-next-phase-button">Skip to next phase</a>
  </li>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% if original.id %}
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var executeButton = document.getElementById('execute-effects-button')
        if (executeButton) {
            executeButton.addEventListener('click', function() {
            window.location.href = "{% url 'admin:execute_effects' game_id=original.id %}"
          })
        }
        var skipButton = document.getElementById('skip-to-next-phase-button')
        if (skipButton) {
            skipButton.addEventListener('click', function() {
            window.location.href = "{% url 'admin:skip_to_next_phase' game_id=original.id %}"
          })
        }
      })
    </script>
  {% endif %}
{% endblock %}
