.factionDetails {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  padding: 8px 0;
}

.primaryArea {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.factionIcon {
  margin-right: 8px;
  margin-top: 3px;
}
