/* Frequently used colors made available as CSS variables */

:root {
  --red-50: hsl(0, 86%, 97%);
  --red-100: hsl(0, 93%, 94%);
  --red-200: hsl(0, 96%, 89%);
  --red-300: hsl(0, 94%, 82%);
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;

  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --cyan-950: #083344;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;

  --purple-50: hsl(270, 100%, 98%);
  --purple-100: hsl(269, 100%, 95%);
  --purple-200: hsl(269, 100%, 92%);
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --purple-950: #3b0764;

  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-550: #636363;
  --neutral-600: #525252;
  --neutral-650: #494949;
  --neutral-700: #404040;
  --neutral-750: #333333;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;

  --tyrian-50: hsl(310, 100%, 97%);
  --tyrian-100: hsl(310, 95%, 95%);
  --tyrian-200: hsl(316, 80%, 85%);
  --tyrian-300: hsl(319, 60%, 75%);
  --tyrian-400: hsl(322, 50%, 65%);
  --tyrian-500: hsl(325, 40%, 50%);
  --tyrian-600: hsl(328, 50%, 40%);
  --tyrian-700: hsl(331, 62%, 30%);
  --tyrian-800: hsl(334, 80%, 20%);
  --tyrian-900: hsl(337, 100%, 15%);
  --tyrian-950: hsl(340, 100%, 10%);

  --gray-green-600: hsl(142, 8%, 32%);
  --gray-blue-600: hsl(221, 8%, 32%);

  /* Like standard colors but with saturation reduced by 33% */
  --mild-red-900: hsl(0, 42%, 31%);
  --mild-yellow-900: hsl(28, 49%, 26%);
  --mild-green-900: hsl(144, 41%, 20%);
  --mild-cyan-900: hsl(196, 43%, 24%);
  --mild-blue-900: hsl(221, 43%, 33%);
  --mild-purple-900: hsl(274, 33%, 32%); /* saturation reduced by 50% */
}
