form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}


/* Text */

form p {
  width: 300px;
  margin-top: 0;
  margin-bottom: 0px;
}

form label {
  margin-bottom: -10px;
}

form label.error {
  color: var(--error-color);
}


/* Field */

form .field {
  box-sizing: border-box;

  background-color: var(--secondary-color);

  padding: 8px;
  border: solid 2px var(--primary-color);
  outline: none;
}

form .field:focus {
  padding: 7px;
  border: solid 3px var(--primary-color);
  outline: solid 3px var(--highlight-color);
}

form .field.error {
  position: relative;
  border: solid 2px var(--error-color);
  background-color: #ffdbdb;
}

form .field.error:focus {
  border: solid 3px var(--error-color);
}

form input.field {
  height: 40px;
  width: 300px;
}

form textarea.field {
  resize: vertical;
  max-height: 300px;
}


/* Feedback */

form .feedback {
  width: 300px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--error-color);
  border-radius: 4px;
  padding: 8px 8px;
  color: var(--secondary-color);
}


form .field-feedback {
  font-size: 14px;
  margin-top: -10px;
  color: var(--error-color);
}

form .field-feedback::first-letter {
  text-transform: uppercase;
}
