h1 {
  font-family: Trajan Pro Regular, Times, serif;
}

h2 {
  font-family: Trajan Pro Regular, Times, serif;
  font-size: 28px;
  line-height: 40px;
  margin-block-start: 15px;
  margin-block-end: 15px;
}

h3 {
  font-family: Trajan Pro Regular, Times, serif;
}

@media (max-width: 767px) {
  h1 {
    font-size: 26px;
  }
}
