h1 {
  font-family: Trajan Pro Regular, Times, serif;
}

h2 {
  font-family: Trajan Pro Regular, Times, serif;
  line-height: 36.5px;
  margin: 16px 0;
}

h3 {
  font-family: Trajan Pro Regular, Times, serif;
}


