/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--neutral-600);
  background-color: var(--neutral-200);
  font-family: var(--font-open-sans);
  font-size: 16px;
}

body.dark {
  color: var(--neutral-100);
  background-color: var(--neutral-800);
}

@media (min-width: 1280px) {
  body {
    overflow-y: hidden;
  }
}

#__next {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.non-modal-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  width: 100%;
  height: 100%;
}

main {
  box-sizing: border-box;
  flex: 1 1 auto;
  width: 100%;
}

main.standard-page {
  max-width: 1200px;
}

blockquote {
  background-color: var(--neutral-100);
  margin: 0;
  padding: 16px 32px;
  border-radius: 4px;
  text-align: center;
}

.dark blockquote {
  background-color: var(--neutral-650);
}

blockquote cite {
  margin-top: 8px;
  display: block;
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: var(--neutral-100);
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 3px solid var(--neutral-100);
  background: var(--neutral-300);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--neutral-400);
}
.dark ::-webkit-scrollbar-track {
  background: var(--neutral-650);
}
.dark ::-webkit-scrollbar-thumb {
  border: 3px solid var(--neutral-650);
  background: var(--neutral-800);
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* Remove defaults */

p,
h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  font-weight: normal;
  font-size: medium;
}

ol,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

input,
button,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

img {
  -webkit-user-drag: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

sup {
  line-height: 0;
  vertical-align: top;
  position: relative;
  top: 0.6em;
}
