.senator-portrait {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 10px;
    overflow: hidden;
    outline: 1px solid black
}

.senator-portrait_picture {
    position: absolute;
    z-index: 2;
}


.senator-portrait_major-office {
    position: absolute;
    z-index: 3;
    top: 43px;
    left: -3px;
}

.senator-portrait_faction-leader {
    position: absolute;
    z-index: 1;
    top: -1px;
}