.senator-portrait {
    width: 72px;
    height: 72px;
    border: 1px solid red;
    background: radial-gradient(#bdbdbd, #ff8585);
}

.senator-portrait_major-office {
    position: relative;
    z-index: 1;
    top: -30px;
}