.senator-portrait {
    width: 70px;
    height: 70px;
    margin: 10px;
    overflow: hidden;
    outline: 1px solid black
}

.senator-portrait_major-office {
    position: relative;
    z-index: 1;
    top: -27px;
    left: 1px;
    box-shadow: 0px 0px 8px 1px;
}