name: Build and test backend

on:
  pull_request:
    branches:
    - main
    
  workflow_dispatch:

jobs:
  build_and_test_backend:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Start services
      run: docker compose -f backend/docker-compose.test.yml up -d

    - name: Wait for services to start
      run: sleep 10s

    - name: Check types
      run: docker compose -f backend/docker-compose.test.yml run --rm web mypy .

    - name: Run tests
      run: docker compose -f backend/docker-compose.test.yml run --rm web pytest

    - name: Stop services
      run: docker compose -f backend/docker-compose.test.yml down
